/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: rgb(82, 82, 82);
}

/* hero background image */
.bg-image {
    height:100vh;
    background: url('../img/bg_img.jpg');
    background-size:cover;
    position:relative;
}

.home-title {
    font-size: 4.5rem;
}
.home-desc {
    font-size: 2rem;
}
.home-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.image-about {
    width: 70%;
    border-radius: 50%;
    object-fit: cover;
}

.card {
    border: none;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    transition: transform 0.2s;
    max-width: 400px;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
}

.card-body {
    padding: 1.5rem;
    text-align: center;
}

.card-title {
    font-size: 1.5rem; 
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1rem; 
    color: #6c757d;
}

.svg-icon {
    width: 1.5em;
    height: 1.5em;
}

a {
    color: #ee7f00; 
    text-decoration: dotted; 
    transition: color 0.2s; 
}

a:hover {
    color: #ce6e00;
    text-decoration: underline;
}

.card a {
    color: #ee7f00; 
    text-decoration: dashed; 
    transition: color 0.2s; 
}

.card a:hover {
    color: #ce6e00;
    text-decoration: underline;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
}

@media (max-width: 767.98px) {
    .card-container {
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    .card-container {
        flex-direction: row;
    }
}

#social {
    margin-bottom: 5%;
}