@tailwind base;
@tailwind components;
@tailwind utilities;


.background-color {
    /*background-color: #d3d3d3;*/
    background:
        radial-gradient(#d3d3d3 15%, transparent 16%) 0 0,
        radial-gradient(#d3d3d3 5%, transparent 16%) 8px 8px,
        radial-gradient(#d3d3d3 15%, transparent 20%) 0 1px,
        radial-gradient(#d3d3d3 15%, transparent 20%) 8px 9px,
        #c4c4c4;
        /* #c7c7c7; */
    background-size:5px 5px;
}

.card-bg {
    background:
        #c0b3ae;
}

body {
    @apply background-color
}

.menu-item {
    @apply rounded hover:bg-orange-400/80
}

.menu-item-active {
    @apply underline
}

.btn {
    @apply inline-flex items-center rounded border border-transparent text-white shadow-sm 
    focus:outline-none focus:ring-2 focus:ring-orange-200 focus:ring-offset-2 disabled:opacity-50
    bg-gray-400 m-2 px-1
 }

.btn-active {
    @apply bg-orange-500 mx-2 px-1
 }

 .card {
    @apply py-4 px-8 shadow-lg card-bg rounded-sm rounded-r-xl my-20 mt-2 mb-2
    border-b-4 border-r-2 border-b-orange-400/80 border-r-orange-400/80
 }
